Server/.vs/Velman/v15/Browse.VC.db
Server/.vs/Velman/v15/ipch/AutoPCH/ce2c63d7be27b160/VELMAN.ipch
Server/.vs/Velman/v15/ipch/AutoPCH/8f08020a2525c225/MAIN.ipch
Server/.vs/Velman/v15/ipch/AutoPCH/31696614c40f8a2e/MAIN.ipch
Server/.vs/Velman/v15/Browse.VC.opendb
Server/.vs/Velman/v15/.suo
